* {
  margin: 0;
  padding: 0;
}
.contenedorAnimation2{
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex: content;
}

#animation {
  width: 100%;
  height: auto;
  display: flex;
  position: fixed;
  flex: 1;
}

.titulo {
  color: #001155;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 5em;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #0000ff;
  display: flex;
}