* {
  margin: 0;
  padding: 0;
}
.fondo{
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
}

#anima{
  width: 100vw;
  height: 100vh;
  display: flex;
}
.titulo {
  color: #001155;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 5em;

}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #0000ff;
  display: flex;
  /* background-image: url(./galery/pic1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
/* 
.FondoImagen {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.fondo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1060deg);
  }
} */
